body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  height: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 2rem;
}

/* THÈME CLAIR */
body.light {
  background-color: #f5f5f5;
  color: #222;
}

/* THÈME SOMBRE */
body.dark {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body {
  transition: background 0.3s ease, color 0.3s ease;
}
